 table tr th{
    background-color: aquamarine;
    padding: 10px;
    /* border-collapse: collapse; */
 }
 table tr td{
    background-color: rgb(158, 231, 158);
    padding: 15px ;
    /* border-collapse: collapse; */
 }
 

 